@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <h1>Welcome to Play!</h1>
    @message
    <BR/><BR/><BR/>
    <a href="@controllers.routes.HomeController.react()">Click here for a react example</a>
    <BR/><BR/>
    <a href="@controllers.routes.HomeController.material()">Click here for a material-ui react example</a>
}
