<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>React Local</title>
        <script type="application/javascript" src="https://unpkg.com/react@@16/umd/react.development.js"></script>
        <script type="application/javascript" src="https://unpkg.com/react-dom@@16/umd/react-dom.development.js"></script>
        <script type="application/javascript" src="https://unpkg.com/babel-standalone@@6.26.0/babel.js"></script>
    </head>

    <body>
        <div id="root"></div>

        <script type="text/babel" src="/assets/javascripts/react.js"></script>

        <script type="text/babel">
            // inline jsx
            class ShoppingList2 extends React.Component {
                render() {
                    return (
                        <div className="shopping-list">
                        <h1>Shopping List2 for {this.props.name}</h1>
                    {this.props.children}
                </div>
                );
                }
            }

            function App2(){
                return(
                    <div>
                        <ShoppingList2 name="Alice">
                        <ul>
                            <li>Puppies</li>
                        </ul>
                        </ShoppingList2>
                    </div>
                )
            }

            const rootElement = document.getElementById('root')

            ReactDOM.render(
            <div><App /><App2 /></div>,
                rootElement
            )
        </script>

    </body>

</html>
